/*
Overrides some values given in CSS from frameworks and third party stuff.
*/

body {
    height: 100%;
}

#history {
    margin-bottom: 10px;
    outline: none;
    direction: rtl;
}

#next_week {
    float: right;
}

#map {
    height: calc(100vh - 50px);
}

.info {
    min-width: 280px;
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 1px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    text-align: left;
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    /* opacity: 0.7; causes glitch after fullscreen was added. */
}

.green {
    text-decoration: none;
    color: #00ff00;
}

.orange {
       text-decoration: none;
    color: #FFA500;
}

.red {
    text-decoration: none;
    color: #ff0000;
}

#domainlist {
    width: 264px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 650px;
}

#domainlist h4 {
    color: #777;
    margin: 0 0 5px;
}

/* bootstrap fixed menu terribleness... always overlaps content. */
body {
  padding-top: 50px;
}

@media screen and (max-width: 768px) {
    body { padding-top: 50px; }
}

/* https://github.com/twbs/bootstrap/issues/1768 */
.jumptonav {
    display: block;
    content: " ";
    margin-top: -55px;
    height: 55px;
    visibility: hidden;
}

.perurl{
    width: 100%;
    clear: both;
    display: table;

    /* alternating rows, taking in account images. */
    padding-top: 15px;
    padding-left: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    background: #f1f1f1;
}

.imagediv {
    width: 320px;
    height: 200px;
    margin-right: 10px;
    border: 1px solid black;
    display: inline-block;
    float: left;
    background-color: gainsboro;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px)
}

.servicelink {
    margin-bottom: 15px;
}


.faildomain {
    font-size: 23px;
}

.reportlist {
    display: table;
    padding-bottom: 15px;
}

.screenshotlist {
    width: 330px;
    float: left;
}

#lastrow {
    background-color: lightgray;
    padding-top: 20px;
    border-top: 2px solid gray;
    left: 0;
    right: 0;
    position: absolute;
    margin-top: 40px;
    padding-bottom: 20px;
}

@media (min-width: 768px){
    #lastrow .row {
        width: 750px;
        margin: auto;
    }
}

@media (min-width: 992px){
    #lastrow .row {
        width: 970px;
        margin: auto;
    }
}

@media (min-width: 1200px) {
    #lastrow .row {
        width: 1170px;
        margin: auto;
    }
}

.Donate{
    border: 1px solid silver;
    padding: 4px;
    width: 60px;
    font-size: 18px;
    display: block;
    float: left;
    margin-right: 5px;
    text-align: center;
}

.Donate.a5 {
    background-color: #B3C1C4;
}

.Donate.a5 a:link {
    color: #828578;
}


.Donate.a10 {
    background-color: #EFB8BF;
}

.Donate.a10 a:link {
    color: #B65145;
}


.Donate.a20 {
    background-color: #A9C7DE;
}

.Donate.a20 a:link {
    color: #5F627F;
}


.Donate.a50 {
    background-color: #FACA8E;
}

.Donate.a50 a:link {
    color: #957C62;
}

.Donate.a100 {
    background-color: #90C280;
}

.Donate.a100 a:link {
    color: #616231;
}

.Donate.a200 {
    background-color: #F8DD58;
}

.Donate.a200 a:link {
    color: #938443;
}

.Donate.a500 {
    background-color: #CDA1BE;
}

.Donate.a500 a:link {
    color: #72475A;
}

.Donate.aother {
    width: 200px;
    background-color: pink;
}

.Donate.aother a:link, .Donate.aother a:visited  {
    color: darkgray;
}

.donate-title {
    background-color: darkgray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 17px;
    color: white;
    margin-top: 11px;
}

.donate-content{
    background-color: lightgray;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 15px;
    padding-top: 9px;
}

.reportlist h3 {
    font-size: 17px;
}

.awarded_points_orange {
    border: 1px solid darkorange;
    background-color: orange;
    padding: 0px 3px;
    font-weight: bold;
    font-size: 11px;
    border-radius: 4px;
}

.awarded_points_red {
    border: 1px solid darkred;
    background-color: red;
    padding: 0px 3px;
    font-weight: bold;
    font-size: 11px;
    border-radius: 4px;
}

.awarded_points_green {
    border: 1px solid green;
    background-color: lightgreen;
    padding: 0px 3px;
    font-weight: bold;
    font-size: 11px;
    border-radius: 4px;
}


.total_awarded_points_orange {
    border: 2px solid darkorange;
    background-color: orange;
    padding: 1px 4px;
    font-weight: bold;
    border-radius: 6px;
    margin-right: 5px;
    margin-left: 5px;
}

.total_awarded_points_red {
    border: 2px solid darkred;
    background-color: red;
    padding: 1px 4px;
    font-weight: bold;
    border-radius: 6px;
    margin-right: 5px;
    margin-left: 5px;
}

.total_awarded_points_green {
    border: 2px solid green;
    background-color: lightgreen;
    padding: 1px 4px;
    font-weight: bold;
    border-radius: 6px;
    margin-right: 5px;
    margin-left: 5px;
}

.fail_logo{
    background-color: black;
    padding: 5px;
    border: 3px inset;
}

.fail_logo img {
    width: 100%;
}

.sidn_logo img {
    margin-left: -6px; /* todo: remove margin of the logo image. */
    width: 100%;
    padding-bottom: 11px;
}

.git_logo {
    padding: 10px;
    padding-bottom: 17px;
}

.git_logo img{
    height: 70px;
}
.logo {
    width: 100%;
    text-align: center;
}

.logoandtext {
    font-size: 12px;
}

.fullscreenlayout {
    /* Hide it initially, also when fullscreen closes. */
    /* display: none; */

    /* Go all out */
    position: fixed;
    left: 60px;
    right: 300px;
    bottom: 25px;
    top: 10px;
    overflow-y: scroll;
    overflow-x: auto;

    /* emulate the maps info boxes */
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 1px;
    padding: 14px;

}

/* a yolo layouted button, just to make sure it can close. */
.closebutton {
    float: right;
    border: 1px solid silver;
    border-radius: 50px;
    padding: 31px;
    position: fixed;
    top: 40px;
    right: 329px;
    font-size: 30px;
    color: silver;
    font-family: consolas;
}

.navbar-default {
    background-image: linear-gradient(to bottom,rgba(255,255,255,0.9) 0,rgba(255,255,255,0.8) 100%) !important;
    backdrop-filter: blur(10px);
    background-color: transparent !important;
}

.jumbotron {
    margin-top: 40px;
}

.orangerow {
    color: darkorange;
}

.redrow {
    color: darkred;
}

.greenrow{
    color: darkgreen;
}

.grayrow{
    color: darkgray;
}


/* awesome transition */
path {
    -webkit-transition:fill 400ms;
    transition:fill 400ms;
}

#searchbar {
    width: 100%;
    font-size: 20px;
}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}

.backtomap{
    float: right;
    position: relative;
    top: -15px;
}