{% load static %} {% load i18n %}
                <div class="col-md-6">
                    <div id="topfail">
                        <div class="page-header">
                            <a name="topfail"  class="jumptonav"></a>
                            <h2>{% trans "Top Fail" %}</h2>
                        </div>
                        <div>
                            <p v-if="top.metadata">{% trans "This is the top fail from" %} {% verbatim %}{{ humanize(top.metadata.data_from_time) }}{% endverbatim %}</p>
                        </div>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>{% trans "Rank" %}</th>
                                <th>{% trans "Organization" %}</th>
                                <th>{% trans "Points" %}</th>
                                <th>{% trans "Tweet" %}</th>
                            </tr>
                            </thead><tbody>
                            {% verbatim %}
                            <tr v-for='rank in top.ranking'>
                                <td>{{ rank.Rank }}</td>
                                <td><a v-on:click="showReport(rank.OrganizationID)">{{ rank.OrganizationName }}</a></td>
                                <td>{{ rank.Points }}</td>
                                <!-- https://dev.twitter.com/web/tweet-button/parameters -->
                                <td><a v-if="rank.OrganizationTwitter" :href="'https://twitter.com/intent/tweet?screen_name=' + rank.OrganizationTwitter + '&text=' + rank.OrganizationTwitter + ' gefeliciteerd! ' + rank.OrganizationName + ' staat positie ' + rank.Rank + ' op Faalkaart! 🥀&hashtags=' + rank.OrganizationName + ',faal,failmap'">Tweet! 📣</a></td>
                            </tr>
                            {% endverbatim %}
                            </tbody>
                        </table>
                    </div>
                </div>